# CODEOWNERS
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners — required reviewers for all PRs
* @jovnc @jiaxinnns @VikramGoyal23 @desmondwong1215 @SAN-MUYUN
